.dart_tool/
.packages
.pub/
build/
android/build/
ios/build/
windows/build/
linux/build/
macos/build/

.gradle/
.idea/
.vscode/

*.iml
*.lock

android/app/debug
android/app/profile
android/app/release