# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Generated
*.lock